.work-wrapper {
  min-height: 100dvh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  overflow: scroll;
}

@media screen and (min-width: 35rem) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 50rem) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 65rem) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.gallery-item {
  cursor: pointer;
  /* border-radius: 8px; */
  /* transition: transform 0.3s ease-in-out; */
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop img {
  max-width: 90%;
  max-height: 90%;
  /* border-radius: 8px; */
}
